html
{
    scroll-behavior: smooth;
}
  
.bg 
{
    /* The image used */
    background-image: url("bgimg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#loading
{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00004d url('Vanilla-0.9s-280px.gif') no-repeat center;
    z-index: 99999;
}

.bg-nav
{
    background-color:#00264d;
}

.navbar-brand
{
    cursor: pointer;
}

.ntext2
{
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.temp
{
    border: 1px black solid;
}

.nava:hover
{
    text-decoration: none;
}

.navt
{
    font-family: 'Acme', sans-serif;
    font-size: 17px;
}

.navb
{
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
    max-width: 75%;
    color: #00004d;
}

.navb:hover
{
    color: #fff;
    background-color: skyblue;
    transition: 0.4s;
}

#mainnav
{
    transition: top 0.4s;
}

.exp
{
    color: #fff;
    font-family: 'Acme', sans-serif;
    text-shadow: 2px 2px #000;
}
.exp1
{
    color: #fff;
    font-family: 'Acme', sans-serif;
}